<div class="main-content">
  <div class="header-content employee-header">
    <div class="emp-detail-text">
      Employee Details
      <div class="emp-count"></div>
    </div>
      <button class="add-button" (click)="onAddUser()"><img src="../assets/plus_symbol.svg" />Add User</button>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" >
</div>


  <div class="table-main">
    <table id="table-display" class="table">
      <tr>
        <!--Table header-->
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>Actions</th>
    </tr>
    <tr>
      
<tr *ngFor="let emp of employee.data" class="detailoftab">
  <td>{{emp.id}}</td>
  <td>{{emp.firstName | titlecase}}</td>
  <td>{{emp.lastName | titlecase}}</td>
  <td>{{emp.gender | uppercase}}</td>
  <td>{{emp.department}}</td>
  <td>{{emp.salary | currency:'&#8377;' }}</td>
  <td>{{emp.date | date }}</td>
  <td>
      <Button type="button" class="btn btn-outline-danger " name="delete" (click)="deleteById(emp.id)"><img src="../assets/delete.svg">Delete</Button>
      &nbsp;
      <Button type="button" class="btn btn-outline-success " name="edit" (click)="editById(emp.id)"><img src="../assets/edit.svg" >Edit</Button>
  </td>

</tr>
    </table>
  </div>
</div>