<div class="main-content">
  <div class="header-content employee-header">
    <div class="emp-detail-text">
      Employee Details
      <!--Count of records will be displayed-->
      <div class="emp-count">{{employee.data.length}}</div>
    </div>
      <button class="add-button" (click)="onAddUser()"><img src="../assets/plus_symbol.svg" />Add User</button>
  </div>
  <div class="table-main">
    <table id="table-display" class="table">
      <tr>
        <!--Table header-->
        <th>ID</th>
        <th>Profile</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Start Date</th>
        <th>Actions</th>
    </tr>
    <tr>
  <!--Value retrieved from database will be displayed here using http get call done in service -->
  <tr *ngFor="let emp of employee.data" class="detailoftab">
  <td>{{emp.id}}</td>
  <td>
    <img [src]="emp.profilePic" alt="profile" class="">
  </td>
  <td>{{emp.firstName | titlecase}}</td>
  <td>{{emp.lastName | titlecase}}</td>
  <td>{{emp.gender | uppercase}}</td>
  <td>{{emp.department}}</td>
  <td>{{emp.salary | currency:'&#8377;' }}</td>
  <td>{{emp.date | date }}</td>
  <td>
      <img src="../assets/delete.svg" (click)="deleteById(emp.id)">
      <img src="../assets/edit.svg" (click)="editById(emp.id)">
  </td>

</tr>
    </table>
  </div>
</div>